# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Example binaries
check_ip
manage_hosts
pagination
error_handling

# Output of the go coverage tool
*.out
coverage.txt
coverage.html

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Test files
test.go
